.img{
  padding: 10px 10px 10px 10px;
  border-radius: 100px 100px 100px 100px;
  height: 180px;
  width: 180px;
  // margin-bottom: -75px;
//   position: relative;
//   align-content: top;
//   align-self: center;
//   background-position: bottom;

// background-color: #222;
// width: 85px;
// height: 85px;
// margin: 0 auto;
// top: 0;
margin-top: -90px;
margin-bottom: 30px;
// position: relative;
// -webkit-border-radius: 50%;
// -moz-border-radius: 50%;
// -ms-border-radius: 50%;
// border-radius: 50%;
// display: table;
// text-align: center;
// transition: all 0.4s ease-in-out;
}

// .card-body{
//     margin-top: 100px;
//     // position: relative;
//     background-position: bottom;


// }


.example-full-width{
 
 
  width: 100%;
}


.overlay {
  // position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  opacity: 0.6;
  filter: alpha(opacity=50);
}
  .container:hover .overlay {
    height:220px; 
    width: 100%
   
  }

  // .image{
  //   position: fixed;
  // }
  .one{
    background-color: black;
    
  }