

<div class="footer" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center stretch">
<div fxFlex="25" class="f1">
    <aside class="widget-area footer-col">
              
        <div id="text-2" class="widget widget_text"><h4 class="widget-title">Address</h4><div class="textwidget">
            <strong>IOT Solutions</strong><br>
            IOT Solutions has been established in Oct 2012 with a vision to be one of the top 3 IOT Solution Providers in Asia by 2018.<br>

    <!-- dummy adrs -->
    <!-- <strong>Mittal Towers</strong><br>
    Akshya Nagar 1st Block 1st Cross, <br>
    Rammurthy nagar, Bangalore-560016<br>
    <br> -->
    <!-- end -->

    <!-- <strong>JOHANNESBURG</strong><br>
    Wedgewood Office Park, Block G, Ground Floor,<br>
    3 Muswell Road, Bryanston -->


    <!-- dummy adrs -->
    <!-- <strong>Nagasandra Circle</strong><br>
    Basavanagudi,Bangalore,Karnataka,<br>
    08041205049,560004, 3 Muswell Road, Bryanston -->
    


</div>
        </div>



    </aside><!-- #secondary -->
</div>
<div fxFlex="25" class="f2">
    <aside class="widget-area footer-col">
              
        <div id="dine-social-3" class="widget widget_social"><h4 class="widget-title">Quick Links</h4>
    <div class="widget-social" style="color: white;">
        <!-- <a href="https://www.facebook.com/ColCacchio/" target="_blank" original-title="Facebook">
          <i class="fa fa-facebook" style="color: black"></i>

      </a> -->
      <p> <a href=Solutions style="color: white;">Solutions</a></p>
      <p>About</p>
      <p>Career</p>
      <p>Contact</p>

      <!-- <a href="https://twitter.com/ColCacchio" target="_blank" original-title="Twitter">
        <i class="fa fa-twitter" style="color: black"></i>
    </a> -->

    <!-- <a href="https://www.instagram.com/colcacchio/" target="_blank" original-title="Instagram">
      <i class="fa fa-instagram" style="color: black"></i>

  </a> -->

  <!-- <a href="https://www.youtube.com/user/ColCacchioPizzeria" target="_blank" original-title="YouTube">
    <i class="fa fa-youtube-play" style="color: black"></i>

</a> -->

        <!-- <ul class="social-list">
            
            
                <li class="">
                    <a href="https://www.facebook.com/ColCacchio/" target="_blank" original-title="Facebook">
                        <i class="fa fa-facebook"></i>
    
                    </a>
    
                </li>
    
            
                <li class="">
                    <a href="https://twitter.com/ColCacchio" target="_blank" original-title="Twitter">
                        <i class="fa fa-twitter"></i>
    
                    </a>
    
                </li>
    
            
                <li class="">
                    <a href="https://www.instagram.com/colcacchio/" target="_blank" original-title="Instagram">
                        <i class="fa fa-instagram"></i>
    
                    </a>
    
                </li>
    
            
                <li class="">
                    <a href="https://www.youtube.com/user/ColCacchioPizzeria" target="_blank" original-title="YouTube">
                        <i class="fa fa-youtube-play"></i>
    
                    </a>
    
                </li>
    
                
        </ul> -->
    
    </div><!-- .widget-social -->


    
    </div><div id="text-3" class="widget widget_text">			
        </div>
    </aside><!-- #secondary -->
</div>

<div fxFlex="25" class="f3">
    <aside class="widget-area footer-col">
              
        <div id="text-4" class="widget widget_text"><h4 class="widget-title">Contact Info</h4>		
                <div class="textwidget">IOT Solutions Pvt Ltd<br>
                    #130, 2nd Floor, Dr. Rajkumar Road, 1st Block, Rajajinagar, <br>
                    Bangalore, India 560010<br>

                </div>

                


        </div>
    </aside><!-- #secondary -->
</div>

<!-- <div fxFlex="25" class="f1">
    contact
    </div> -->
</div>

<div class="footer" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center stretch">

  <div class="abc">© 2020 IOT Solutions Pvt. Ltd..</div>
</div>









































<!-- <div class="footer"> -->
        <!-- <div class="row">
          <div class="col-sm-12 links">
            hiiii
          </div>
          <div class="col-sm-12 links">
            <a href="https://github.com/angular/material.angular.io" target="_blank">
              <fa-icon [icon]="['fab','github']"></fa-icon>
              <span>Github</span>
            </a>
            <a href="https://medium.com/@swarnakishore/getting-started-with-angular-material-angular-6-a3f46c63ee66" target="_blank">
              <fa-icon [icon]="['fab','medium-m']"></fa-icon>
              <span>Medium</span>
            </a>
            <a href="https://twitter.com/hashtag/angularmaterial?lang=en" target="_blank">
              <fa-icon [icon]="['fab','twitter']"></fa-icon>
              <span>Twitter</span>
            </a>
            <a href="https://www.youtube.com/watch?v=wPT3K3w6JtU"target="_blank">
              <fa-icon [icon]="['fab','youtube']"></fa-icon>
              <span>Youtube</span>
            </a>
            <a href="https://auth0.com/authenticate/angular2/instagram/" target="_blank">
              <fa-icon [icon]="['fab','instagram']"></fa-icon>
              <span>Instagram</span>
            </a>
            <a href="https://material.angular.io/components/slide-toggle" target="_blank">
              <fa-icon icon="play-circle"></fa-icon>
              <span>Slides</span>
            </a>
          </div>
        </div> -->
        <!-- <div class="row">
          <div class="col-12 signature">
            &#169; <span class="year">2019</span> - ArunRajAryan
            <br class="d-block d-sm-none">
            <a >
              <fa-icon icon="rocket"></fa-icon>
              8.3.0 <span >[DEV]</span>
            </a>
          </div>
        </div> -->
    <!-- <div class="row">
            
              





              <div id="footer-sidebar" class="footer-widgets">

                  <div class="container">
              
                      <div class="footer-sidebar-wrapper column-3"><aside class="widget-area footer-col">
              
                  <div id="text-2" class="widget widget_text"><h2 class="widget-title">ADDRESS</h2>			<div class="textwidget"><strong>CAPE TOWN</strong><br>
              1st Floor, Hills Building, Buchanan Square,<br>
              160 Sir Lowry Road,Woodstock<br>
              <br>
              <strong>JOHANNESBURG</strong><br>
              Wedgewood Office Park, Block G, Ground Floor,<br>
              3 Muswell Road, Bryanston</div>
                  </div>
              </aside>#secondary
              
              
              
              
              <aside class="widget-area footer-col">
              
                  <div id="dine-social-3" class="widget widget_social"><h2 class="widget-title">Follow Us</h2>
              <div class="widget-social">
              
                  <ul class="social-list">
                      
                      
                          <li class="">
                              <a href="https://www.facebook.com/ColCacchio/" target="_blank" original-title="Facebook">
                                  <i class="fa fa-facebook"></i>
              
                              </a>
              
                          </li>
              
                      
                          <li class="">
                              <a href="https://twitter.com/ColCacchio" target="_blank" original-title="Twitter">
                                  <i class="fa fa-twitter"></i>
              
                              </a>
              
                          </li>
              
                      
                          <li class="">
                              <a href="https://www.instagram.com/colcacchio/" target="_blank" original-title="Instagram">
                                  <i class="fa fa-instagram"></i>
              
                              </a>
              
                          </li>
              
                      
                          <li class="">
                              <a href="https://www.youtube.com/user/ColCacchioPizzeria" target="_blank" original-title="YouTube">
                                  <i class="fa fa-youtube-play"></i>
              
                              </a>
              
                          </li>
              
                          
                  </ul>
              
              </div>.widget-social
              
              </div><div id="text-3" class="widget widget_text">			<div class="textwidget">© 2017 Col'Cacchio Holdings (Pty) Ltd.</div>
                  </div>
              </aside>#secondary
              
              
              
              
              <aside class="widget-area footer-col">
              
                  <div id="text-4" class="widget widget_text"><h2 class="widget-title">CONTACT US</h2>			<div class="textwidget">087 803 4000</div>
                  </div>
              </aside>#secondary</div>
                  </div>.container
              
              </div>
        </div>
      </div> -->