mat-card{
  padding: 0%;

  .head{
  
      height: 360px;
        padding: 0%;
        // background-color: red;
        width: 100%;
      //   opacity: 0.;
      // filter: alpha(opacity=50);
  }    
}

.container1 {
  position: relative;
  text-align: center;
  color: black;

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
   
  }
}

a{
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  color: #fff!important;
  border-style: solid none solid none;
 
}















/* About section  */
#about .col-md-4 ul {
padding-top: 4px;
padding-left: 28px;
}

#about .col-md-4 ul li {
color: #777;
font-size: 18px;
font-weight: 400;
padding-top: 2px;
padding-bottom: 2px;
}

.about-story{
font-family: 'Dancing Script', cursive;
width: 100%;
}


.example-card {
max-width: 400px;
height: 200px;

}

.example-header-image {
// background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
background-size: cover;
}



.example-card-two{

max-width: 700px;

}




.example-card-one {
max-width: 300px;

}

.example-header-image-one {
background-image: url('../../../assets/aaa.jpg');
background-size: cover;
}

.example-header-image-two {
background-image: url('/assets/chefs-two.jpg');
background-size: cover;
}
widget-social{
color: #f5f5f5;
background-color: #f5f5f5;
}

.shake{
img:hover {
/* Start the shake animation and make the animation last for 0.5 seconds */
animation: shake 0.5s;

/* When the animation is finished, start again */
animation-iteration-count: infinite;
}

@keyframes shake {
0% { transform: translate(1px, 1px) rotate(0deg); }
10% { transform: translate(-1px, -2px) rotate(-1deg); }
20% { transform: translate(-3px, 0px) rotate(1deg); }
30% { transform: translate(3px, 2px) rotate(0deg); }
40% { transform: translate(1px, -1px) rotate(1deg); }
50% { transform: translate(-1px, 2px) rotate(-1deg); }
60% { transform: translate(-3px, 1px) rotate(0deg); }
70% { transform: translate(3px, 1px) rotate(-1deg); }
80% { transform: translate(-1px, -1px) rotate(1deg); }
90% { transform: translate(1px, 2px) rotate(0deg); }
100% { transform: translate(1px, -2px) rotate(-1deg); }
}
}

.container {
position: relative;


}
.overlay {
position: absolute;
bottom: 0;
left: 0;
right: 0;
background-color: black;
overflow: hidden;
width: 100%;
height: 0;
transition: .5s ease;
opacity: 0.6;
filter: alpha(opacity=50);
}
.container:hover .overlay {
  height:220px; 
  width: 100%
 
}


.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Dancing Script', cursive;
}
   
.f2{
  margin-top: 20px;
  margin-bottom: 20px;
// border-style: none dashed none dashed;
color: #f5f5f5
// border-style: hidden;
}











// .image {
//   display: block;
//   width: 100%;
//   height: auto;
// }





/* ====================================================================================================================
* RESPONSIVE
* ====================================================================================================================*/
@media screen and (max-width: 860px) {
.flex-direction-nav .flex-prev {
  opacity: 1;
  left: 10px;
}
.flex-direction-nav .flex-next {
  opacity: 1;
  right: 10px;
}
}

// .second-text {
//   // font-size: 3.4rem;
//   // position: absolute;
//   // top: 8.5rem;
//   opacity: 0;
//   animation-name: rightFadeInOut;
//   animation-delay: 1s;
//   animation-duration: 10s ;
//   // color: #ccc;



// }


// @keyframes rightFadeInOut {
//   0% {
//     // position: absolute;
//     // right: -3rem;
//     opacity: 0;
//   }

//   75% {
//      position: sticky;
//     right: 10rem;
//     opacity: 1;
  
//   }

//   100% {
//     opacity: 0;
//     right: 10rem;
//   }
// }


mat-card{
padding: 0%;
// background-color: #777;

.head{

    height: 360px;
      padding: 0%;
      background-color: red;
      width: 100%;
}    
}

.container1 {
position: relative;
text-align: center;
color: black;

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
 
}
}

a{
font-family: "Times New Roman", Times, serif;
font-size: 60px;
// color: #fff!important;
border-style: solid none solid none;

}















/* About section  */
#about .col-md-4 ul {
padding-top: 4px;
padding-left: 28px;
}

#about .col-md-4 ul li {
color: #777;
font-size: 18px;
font-weight: 400;
padding-top: 2px;
padding-bottom: 2px;
}

.about-story{
font-family: 'Dancing Script', cursive;
width: 100%;
}


.example-card {
max-width: 400px;
height: 200px;

}

.example-header-image {
// background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
background-size: cover;
}



.example-card-two{

max-width: 700px;

}




.example-card-one {
max-width: 300px;

}

.example-header-image-one {
background-image: url('/assets/burgr.jpg');
background-size: cover;
}

.example-header-image-two {
background-image: url('/assets/chefs-two.jpg');
background-size: cover;
}
widget-social{
color: #f5f5f5;
background-color: #f5f5f5;
}

.shake{
img:hover {
/* Start the shake animation and make the animation last for 0.5 seconds */
animation: shake 0.5s;

/* When the animation is finished, start again */
animation-iteration-count: infinite;
}

@keyframes shake {
0% { transform: translate(1px, 1px) rotate(0deg); }
10% { transform: translate(-1px, -2px) rotate(-1deg); }
20% { transform: translate(-3px, 0px) rotate(1deg); }
30% { transform: translate(3px, 2px) rotate(0deg); }
40% { transform: translate(1px, -1px) rotate(1deg); }
50% { transform: translate(-1px, 2px) rotate(-1deg); }
60% { transform: translate(-3px, 1px) rotate(0deg); }
70% { transform: translate(3px, 1px) rotate(-1deg); }
80% { transform: translate(-1px, -1px) rotate(1deg); }
90% { transform: translate(1px, 2px) rotate(0deg); }
100% { transform: translate(1px, -2px) rotate(-1deg); }
}
}

.container {
position: relative;


}
.overlay {
position: absolute;
bottom: 0;
left: 0;
right: 0;
background-color: black;
overflow: hidden;
width: 100%;
height: 0;
transition: .5s ease;
opacity: 0.6;
filter: alpha(opacity=50);
}
.container:hover .overlay {
height:220px; 
width: 100%

}


.text {
color: white;
font-size: 20px;
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
text-align: center;
font-family: 'Dancing Script', cursive;
}
 
.f2{
margin-top: 20px;
margin-bottom: 20px;
// border-style: none dashed none dashed;
color: #f5f5f5
// border-style: hidden;
}















/* ====================================================================================================================
* RESPONSIVE
* ====================================================================================================================*/
@media screen and (max-width: 860px) {
.flex-direction-nav .flex-prev {
opacity: 1;
left: 10px;
}
.flex-direction-nav .flex-next {
opacity: 1;
right: 10px;
}
}


.card-item{
flex: 1;
box-sizing: border-box;
-webkit-box-flex: 1;
-ms-box-flex: 1;
-moz-box-flex: 1;
padding: 3px 3px 3px 3px;
width: 100%;
height: 100%;

img{
height:100%;
width: 100%;
}

}
i{
padding: 40px,40px,40px,40px;
height: 40px;
}

// folding image///////////////////////////////////////
// .gallery {
//   perspective:700px;
//   width:50vw;
//   display:flex; justify-content:center; align-items:center; flex-flow:row wrap;
// }

// ul {
//   position:relative;
//   width:100px; height:100px;
//   margin:0.1em;
//   perspective-origin:center center;
//   transform-style:preserve-3d;
//   transform:rotateX(40deg);
//   transition:all 0.4s;
// }

// ul:hover {
//   transform:translateZ(100px) rotateX(20deg); z-index:999;
// }

// ul:hover li {
//   filter:grayscale(0);
// }
// li {
//   position:absolute; left:0; top:0;
//   backface-visibility:hidden;
//   width:100%; height:100%;
//   transition:transform 0.3s, filter 1s;
//   background:coral;
//   filter:grayscale(0.9);
// }

/*
Setup individual planes final poistion(by left top) and initial position(by transform)
*/
// li:first-of-type {transform:none;}
// li:nth-of-type(2) {left:100%; transform-origin:left center; transform:rotateY(180deg);}
// li:nth-of-type(3) {top:100%; transform-origin:center top; transform:rotateX(-180deg);}
// li:nth-of-type(4) {left:-100%; transform-origin:right center; transform:rotateY(-180deg);}
// li:nth-of-type(5) {top:-100%; transform-origin:center bottom; transform:rotateX(180deg);}
// li:nth-of-type(6) {top:100%; left:100%; transform-origin:center top; transform:rotateX(-180deg);}
// li:nth-of-type(7) {top:100%; left:-100%; transform-origin:right center; transform:rotateY(-180deg);}
// li:nth-of-type(8) {top:-100%; left:-100%; transform-origin:center bottom; transform:rotateX(180deg);}
// li:nth-of-type(9) {top:-100%; left:100%; transform-origin:left center; transform:rotateY(180deg);}
/*
Setup individual planes final poistion(by left top) and initial position(by transform)
*/
// li:first-of-type {transform:none;}
// li:nth-of-type(2) {left:100%; transform-origin:left center; transform:rotateY(180deg);}
// li:nth-of-type(3) {top:100%; transform-origin:center top; transform:rotateX(-180deg);}
// li:nth-of-type(4) {left:-100%; transform-origin:right center; transform:rotateY(-180deg);}
// li:nth-of-type(5) {top:-100%; transform-origin:center bottom; transform:rotateX(180deg);}
// li:nth-of-type(6) {top:100%; left:100%; transform-origin:center top; transform:rotateX(-180deg);}
// li:nth-of-type(7) {top:100%; left:-100%; transform-origin:right center; transform:rotateY(-180deg);}
// li:nth-of-type(8) {top:-100%; left:-100%; transform-origin:center bottom; transform:rotateX(180deg);}
// li:nth-of-type(9) {top:-100%; left:100%; transform-origin:left center; transform:rotateY(180deg);}
// ul:hover :nth-of-type(2),ul:hover :nth-of-type(4),ul:hover :nth-of-type(7),ul:hover :nth-of-type(9) {transform:rotateY(0);}
// ul:hover :nth-of-type(3), ul:hover :nth-of-type(5),ul:hover :nth-of-type(6), ul:hover :nth-of-type(8) {transform:rotateX(0);}
/* 
Set background position
*/
// ul li {background-size:300% 300%;}
// li:nth-of-type(1) {background-position:center center;}
// li:nth-of-type(2) {background-position:right center;}
// li:nth-of-type(3) {background-position:center bottom;}
// li:nth-of-type(4) {background-position:left center;}
// li:nth-of-type(5) {background-position:center top;}
// li:nth-of-type(6) {background-position:right bottom;}
// li:nth-of-type(7) {background-position:left bottom;}
// li:nth-of-type(8) {background-position:left top;}
// li:nth-of-type(9) {background-position:right top;}

/*
Set background image source
*/
// ul:nth-of-type(1) li { background-image:url(/assets/serviceone.jpg);}
// ul:nth-of-type(1) { width:120px; height:80px; }



/* 
Hide debug label 
*/
// li { text-indent:999px; overflow:hidden; }


.image-shadow:after {
transform: scale(0.95) translateY(36px) translateZ(-30px);
filter: blur(20px);
opacity: 0.9;
content: '';
position: absolute;
width: 100%;
height: 100%;
background-image: inherit; // Neat huh! :)
background-size: cover;
z-index: -1;
transition: filter .3s ease;
}

.image-shadow {
margin: 20px auto;
width: 400px;
height: 400px;
border-radius: 10px;
display: block;
position: relative;
background-size: cover;
}


// Just for show
.light {
background: radial-gradient(ellipse at center, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 60%);
width: 600px;
height: 600px;
background-blend-mode: lighten;
position: fixed;
pointer-events: none;
}




// ===========================



h1 {

max-width: 400px;
width: 100%;
font-size: 24px;
text-align: center;
margin: 50px auto 30px;
span {
  font-size: 16px;
  color: #666;
  font-weight: 400;
}
}
.js-tilt-container {
transition: transform .1s ease;
transform: rotateX(0) rotateY(0);
transform-style: preserve-3d;
}
.leave {
transform: rotateX(0) rotateY(0) !important;
transition-timing-function: cubic-bezier(0.42, 0, 0, 1)!important;
transition-duration: 1.5s;
}


.open-button {
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  // opacity: 0.8;
  position: fixed;
  bottom: 23px;
  
  }
  
  
  
  
  
  
  
  
  .chat-popup {
    display: none;
    outline: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    // border: 3px solid #7e7b7b;
    border:none;
    z-index: 9;
    flex-shrink: inherit;
    overflow: auto;
    // resize: both;
    height: 550px;
    width: 400px;
    // overflow:auto;
    // transform:rotate(180deg);
    direction:ltr;
    // padding-right:53px;
  //  background-color: yellow;
   margin-right:53px;
  
  }
  
  
  
  
  
  
  /* Add styles to the form container */
  .form-container {
    // max-width: 400px;
    // padding: 10px;
    background-color: transparent;
     height: 490px;
     width: 300px;
   
  }