<!-- <p>about works!</p> -->



<mat-card>


   
  <div class="w3-container" style="padding: 0px">
        <div class="container1">
           <img class="head" src="../../assets/about.jpg" >
          
           <div class="centered" rtl><a class="w3-center w3-animate-top" style="font-size: 30px;">About Us</a></div>
           
         </div>
  </div>



<br>




<!------------------------------- our story------------------------------------------ -->


         <div class="about-story" fxLayoutAlign="center center" fxLayout="column"  fxLayout.xs="column">

            <h2>What we Do</h2>
            <!-- <h4>Your Dining Restaurant since 1989</h4> -->
              
  
           </div>
  
  
  
  
           <br>
           <br>
           <br>
           <br>
  
  
  
  <!-----------------------------FIRST SECTION -------------------------------------------------->
  
           <div class="w3-container " style="width: 100%; " fxLayout="row" fxLayout.xs="column"  fxLayoutAlign="center" fxLayoutGap="5%"> 
  
              <div class="about-story" fxFlex="35" fxLayoutGap="10%" fxLayout="column" fxLayout.xs="column">
              
                  <mat-card class="card-item">
                      <mat-card-title>


                         <img class="image-shadow js-tilt-container " src="../../../assets/preva.jpg" >
                          
                      </mat-card-title>
                      
                      
                      
                    </mat-card>
           
                  </div>
          
          
            <div class="about-story" fxFlex="40" fxLayoutGap="10%" fxLayoutAlign="centered" fxLayout="column"  >

              <div class="card-item"  >
  
  
                  <div class="img" >
                      <h2 fxLayoutAlign="center center">Design Formidable IOT Solutions</h2>
                       <p>Preva Systems is intensely involved in design ,development and depolyment
                          of impressive robust IOT solutions to its valuable customers.The Solutions
                           are focussed to provide utmost satisfaction and value to the customers.</p>
                       
                    
                         
                       
                </div>
            
            
                
                   </div>      
                
              
              </div>   
          
           </div>

    
  
  
  <br>
  <br>
  <br>
  <br>
  
  <!---------------------------------SECOND SECTION-------------------------------->
  <br>
  <br>
  <br>
  
  <div class="w3-container" style="width: 100%; " fxLayout="row" fxLayout.xs="column"   fxLayoutGap="5%" fxLayoutAlign="center"> 
  
      <div class="about-story" fxFlex="40" fxLayoutGap="10%" fxLayoutAlign="end" fxLayout="column" >
        
          <div class="card-item" >

          <div class="img"  >
            <h2 fxLayoutAlign="center center">Exceptional IoT Solutions</h2>
             
             <p>Preva Systems IoT platform differs from other popular IoT platforms with respect
                to simplified device connectivity and management, which enables choice of vendors
                and devices to the customer. Preva Systems IOT enables automation, location intelligence,
                 remote device management and mobility for all needs relating to Tag, Track & Trace enriched
                  with Analytics for Industries and Enterprises.</p>
             
          </div>
   
  
  
           
          </div>
         </div>
  
  
         <div class="about-story" fxFlex="35" fxLayoutGap="10%" fxLayout="column" fxLayoutAlign="end" >
     
               <mat-card class="card-item">
                <mat-card-title>
                    <img class="image-shadow js-tilt-container" src="../../../assets/team.jpeg" >    
        
                </mat-card-title>
               
               
                
              </mat-card>
            </div>
          </div>
        
      
    
  
  
  <br>
  <br>
  <br>
  <br>
  <!---------------------------Third Section ------------------------>
    
  <div class="w3-container " style="width: 100%; " fxLayout="row" fxLayout.xs="column"  fxLayoutAlign="center" fxLayoutGap="5%"> 
  
    <div class="about-story" fxFlex="35" fxLayoutGap="10%" fxLayout="column" fxLayout.xs="column">
    
        <mat-card class="card-item">
            <mat-card-title>


               <img class="image-shadow js-tilt-container " src="../../../assets/team1.jpeg" >
                
            </mat-card-title>
            
            
            
          </mat-card>
 
        </div>


  <div class="about-story" fxFlex="40" fxLayoutGap="10%" fxLayoutAlign="centered" fxLayout="column"  >

    <div class="card-item"  >


        <div class="img" >
            <h2 fxLayoutAlign="center center">To Develop High Quality Of IoT services</h2>
             <p>Preva Systems continues to improve its solution offerings in the chosen verticals with 
               enriched work flows and a hyper scale IoT platform enriched with Analytics. Preva Systems has been setting up 
               Centers of Excellence in large universities to build IOT skills among fresh talent and to make IoT ubiquitous. 
               Preva Systems has developed and delivered an IOT Certification Course to these universities.
                Preva platform is chosen by IESA/NETRA as well as NASSCOM for their nation-wide Skill development initiatives.</p>
             
          
               
             
      </div>
  
  
      
         </div>      
      
    
    </div>   

 </div>




<br>
<br>
<br>
<br>
  
  <!-----------------------------CHEFFFFFFF-------------------------->
  
  <div class="about-story" fxLayoutAlign="center center" fxLayout="column"  fxLayout.xs="column">
  
      
        
  
  </div>
  
  
  <br>
  <br>
  
  
  
  <div class="about-story" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="6%" >
  
      <div fxFlex="25" >
  
          
          <mat-card class="example-card-one" >
              <mat-card-header fxLayoutAlign="center center">
             
                 
                          
              </mat-card-header>
  
  
  
  
             <div class="container">
              
  
                  <div class="overlay">
                    
                  </div>
                </div>
          
  
              
              
            </mat-card>
  
         
  
      </div>
  
  
  
      <div fxFlex="25" >
  
        
          <mat-card class="example-card-one">
              <mat-card-header fxLayoutAlign="center center">
                <!-- <div mat-card-avatar class="example-header-image-one"></div> -->
                 
               
              </mat-card-header>
  
  
  
  
             <div class="container">
              
  
                  
                </div>
          
      
  
              
              
            </mat-card>
  
      </div>
  
  </div>
  
  
  
  
  
  <br>
  <br>
  <br>
  <br>
  <br>

  <br>
  <br>
  <br>
  <br>
  
  
  
  
  <div fxLayoutAlign="end"   >
      <button mdc-fab  class="open-button" onclick="openForm('myForm');"  >
          <mdc-icon>insert_comment</mdc-icon>
      </button>
      
      
      </div>
  
  
      <div  class="chat-popup" id="myForm"  >
          <div fxLayoutAlign="end">
        <form  class="form-container ">
       
      <iframe id="myiFrame"
      allow="microphone;"  
      width="300"
      height="450"
      src="https://console.dialogflow.com/api-client/demo/embedded/f2a775a1-f033-46a6-83fb-952c646967c6" style="border:2px solid #7e7b7b ;" >
      </iframe>
      
      </form>
      </div>
      </div>
  
  
  
  
  
  </mat-card>
  
  
  

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  

<!-- </mat-card> -->




























































<div class="margin-auto demo-div box-shadow" [ngStyle]="{'width':sliderWidth+'px', 'min-height': sliderImageHeight+'px'}">
        <ng-image-slider *ngIf="showSlider" #nav
            [images]="imageObject"
            [infinite]="sliderInfinite"
            [imagePopup]="sliderImagePopup"
            [showArrow]="sliderArrowShow"
            [imageSize]="{width: sliderImageWidth, height: sliderImageHeight}"
            
            [autoSlide]="sliderAutoSlide ? 1 : 0"
            [slideImage]="+sliderSlideImage"
            [animationSpeed]="sliderAnimationSpeed"
            (imageClick)="imageOnClick($event)"
            (arrowClick)="arrowOnClick($event)"
            (lightboxArrowClick)="lightboxArrowClick($event)">
        </ng-image-slider>
    </div>