
<div class="branding">
    <!-- <img src="../../../assets/logo.jpeg" />Caffe -->
<mat-nav-list  color="primary">
        <!-- <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
            <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
        </a> -->
        <a mat-list-item routerLink="/menu"  (click)="onSidenavClose()" style="color: white;font-family: 'Dancing Script', cursive;">
            <mat-icon>restaurant_menu</mat-icon>
            <span class="nav-caption">Solutions</span>  
            <!-- <mat-menu #menu="matMenu">
                <a routerLink="/asset"><button mat-menu-item>ASSET MANAGEMENT</button></a>
                <a routerLink="/health"><button mat-menu-item>HEALTHCARE</button></a> 
                <a routerLink="/track"><button mat-menu-item>TRACKING MANAGEMENT</button></a>

         </mat-menu> -->
        </a>
        <a mat-list-item routerLink="/about" (click)="onSidenavClose()"  style="color: white;font-family: 'Dancing Script', cursive;" >
            <mat-icon>supervised_user_circle</mat-icon><span class="nav-caption">About Us</span>
        </a>
        <a mat-list-item routerLink="/careers" (click)="onSidenavClose()" style="color: white;font-family: 'Dancing Script', cursive;" >
            <mat-icon>image</mat-icon> <span class="nav-caption">Careers</span>
        </a>
        <!-- <a mat-list-item routerLink="/blog" (click)="onSidenavClose()" style="color: white;font-family: 'Dancing Script', cursive;"   >
            <mat-icon>forum</mat-icon> <span class="nav-caption">Blog</span>   
        </a> -->
        <a mat-list-item routerLink="/contact" (click)="onSidenavClose()" style="color: white;font-family: 'Dancing Script', cursive;"  >
            <mat-icon>contacts</mat-icon><span class="nav-caption">Contact</span>
        </a>





















        <!-- <mat-list-item [matMenuTriggerFor]="menu">
                <mat-icon>unfold_more</mat-icon>
                <a matline>Example</a>
            </mat-list-item>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="onSidenavClose()">View profile</button>
              <button mat-menu-item (click)="onSidenavClose()">Add contact</button>
            </mat-menu> -->
      </mat-nav-list>

</div>