<!-- <p>reserconfirm works!</p> -->
<!-- <span> Don't refresh</span> -->
<h2>Reset Password</h2>
<span fxLayoutAlign="center" style="background-color: red;width:100%;text-align:center">** Don't refresh **</span>
<div class="body"  >
<form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="new_password1">Password</label>
        <input type="new_password1" formControlName="new_password1" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.new_password1.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.new_password1.errors.required">Password is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="new_password2">Confirm Password</label>
        <input type="new_password2" formControlName="new_password2" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.new_password2.errors }" />
        <div *ngIf="submitted && f.new_password2.errors" class="invalid-feedback">
            <div *ngIf="f.new_password2.errors.required">Confirm Password is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="uid">ID</label>
        <input type="uid" formControlName="uid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.uid.errors }" />
        <div *ngIf="submitted && f.uid.errors" class="invalid-feedback">
            <div *ngIf="f.uid.errors.required">uid is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="token">TOKEN</label>
        <input type="token" formControlName="token" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.token.errors }" />
        <div *ngIf="submitted && f.token.errors" class="invalid-feedback">
            <div *ngIf="f.token.errors.required">TOKEN is required</div>
        </div>
    </div>
    <div class="form-group" fxLayoutAlign="center center" fxLayoutGap="20px">
        <button  class="btn btn-primary" class="loginbutton" >
                <!-- (click)="openSnackBar(message.value, action.value)" -->
                reset
        </button>
    </div>
    
</form>

</div>
