mat-card{
  padding: 0%;

  .head{
  
      height: 360px;
        padding: 0%;
        // background-color: red;
        width: 100%;
      //   opacity: 0.;
      // filter: alpha(opacity=50);
  }    
}

.container1 {
  position: relative;
  text-align: center;
  color: black;

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
   
  }
}

a{
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  color: #fff!important;
  border-style: solid none solid none;
 
}
.img{
  padding: 10px 10px 10px 10px;
}