<mat-card>


   
  <div class="w3-container" style="padding: 0px">
        <div class="container1">
           <img class="head" src="../../assets/about.jpg" >
          
           <div class="centered" rtl><a class="w3-center w3-animate-top">Solutions</a></div>
           
         </div>
  </div>





<div class="body" fxLayout="row" fxLayout.xs="column" fxLayoutGap="0px">

    <mat-card  class="card-item" fxFlex="50" style="padding: 30px 30px 30px 30px;">


      <img class="head"  src="../../assets/1.png" >

              
    </mat-card>

<mat-card class="mtcrd"   fxFlex="50">
        
  <img class="head" src="../../assets/solutions-for-health.png" >

</mat-card>

</div>
<div class="body" fxLayout="row" fxLayout.xs="column" fxLayoutGap="0px">

  <mat-card  class="card-item" fxFlex="50">

    <img class="head" src="../../assets/solutions-for-industries.png" >
            
  </mat-card>

<mat-card class="mtcrd"   fxFlex="50">
      
  <img class="head" src="../../assets/solutions-for-transport.png" >

</mat-card>

</div>



</mat-card>