.example-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    size: cover;
    align-self: center;
    
    
  }
  
  .example-container > * {
    width: 100%;
  }

.boader{
  border-style: ridge;
}
  mat-card-header{
      background-color:gray;
      color: white;
      height: 80px;
      // border-style: solid;
      width: 100%;
      
  }

  .mtcrd{
      padding: 20px;
      border-style: ridge;
      
  }


  .body{
    padding: 0px;
  }

  .mapouter{
    position:relative;
    text-align:right;
    height:100%;
    // width:995px;
    background-size: cover;
    size: cover;
    border-style: ridge;
  }
  .gmap_canvas {
    overflow:hidden;
    background:none!important;
    background-size: cover;
    size: cover;
  }
  textarea{
    height: 100px;
  }





  .container1 {
    position: relative;
    text-align: center;
    color: black;
  
    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      
     
    }
  }


  a{
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    color: #fff!important;
    border-style: solid none solid none;
    
   
  }






  .head{
    
    height: 360px;
      padding: 0%;
      background-color: red;
      width: 100%;
}   

.card-item{
  padding: 20px;
  
}
// button{
//   color: white;
  // background-color: gray;
// }

.open-button {
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  // opacity: 0.8;
  position: fixed;
  bottom: 23px;
  
  }
  
  
  
  
  
  
  
  
  .chat-popup {
    display: none;
    outline: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    // border: 3px solid #7e7b7b;
    border:none;
    z-index: 9;
    flex-shrink: inherit;
    overflow: auto;
    // resize: both;
    height: 550px;
    width: 400px;
    // overflow:auto;
    // transform:rotate(180deg);
    direction:ltr;
    // padding-right:53px;
  //  background-color: yellow;
   margin-right:53px;
  
  }
  
  
  
  
  
  
  /* Add styles to the form container */
  .form-container {
    // max-width: 400px;
    // padding: 10px;
    background-color: transparent;
     height: 490px;
     width: 300px;
   
  }