<mat-card>
    <!-- <div class="gallery" fxLayoutAlign="center center">
   <a>Our Gallery</a>
    </div> -->
    <div class="container1 w3-container" style="padding: 0px">
        <img class="head" src="../../assets/tracck.jpg">
        <!-- <div class="bottom-left">Bottom Left</div> -->
        <!-- <div class="top-left">Top Left</div> -->
        <!-- <div class="top-right">Top Right</div> -->
        <!-- <div class="bottom-right">Bottom Right</div> -->
        <div class="centered" rtl><a class="w3-center w3-animate-top">Tracking Management</a></div>
        
      </div>
  
   
      <mat-tab-group   mat-stretch-tabs mat-align-tabs="center" animationDuration="2000ms">
       <!-- <mat-tab label="IMAGES">
           <div class="mod" fxLayout="column" fxLayout.xs="column" fxLayoutAlign=" center center">
   
   
               <h3 style="color: #e7272d !important;font-family: Cookie, cursive;"> Our Gallery</h3>
             <h3 >Awesome Place Good Decoration To</h3>
             <h3 >Spend Quality Time</h3>
               <div  class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px"   >
                   <div   *ngFor="let emp of  interfacesBrief | grdFilter: {name: searchText, Age:searchText, blog:searchText}; let i=index;">
                   <div >
                       <mat-card class="card-item" >
                         <mat-card-title>
                           <img [src]="emp.image">
                         </mat-card-title>
                         
                         
                       </mat-card>
                     </div>
                   </div>
                 </div>
                 
   
                
   
   
   
               
   
           </div>
       </mat-tab> -->
       <!-- <mat-tab label="VIDEOS">
         
         
           <div class="mod" fxLayout="column" fxLayout.xs="column" fxLayoutAlign=" center">
   
   
              <h3 style="color: #e7272d !important;font-family: Cookie, cursive;"> Our Gallery</h3>
              <h3 >Awesome Place Good Decoration To</h3>
              <h3 >Spend Quality Time</h3>
             
               
               <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px"   >
  
                <div   *ngFor="let emp of  interfacesBriefvideo ">
     
                   
                 
                       <mat-card class="card-item" fxLayoutAlign=" center">
                         <mat-card-title> -->
                            <!-- {{emp.Videoaddress}} -->
                            <!-- <embed width="420" height="315" src="https://www.youtube.com/v/tgbNymZ7vqY"> -->
  
                          <!-- <iframe height="350px" width="350px" [src]=sanitizer.bypassSecurityTrustResourceUrl(emp.Videoaddress) frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                         </mat-card-title>
  
                       </mat-card>
                   
                            
  
                            </div>
                            
                     </div>
                   
               
   
   
   
           </div>
       
       
       </mat-tab> -->
       
    
     </mat-tab-group>
  
  
     <div fxLayoutAlign="end"   >
        <button mdc-fab  class="open-button" onclick="openForm('myForm');"  >
            <mdc-icon>insert_comment</mdc-icon>
        </button>
        
        
        </div>
  
        <div  class="chat-popup" id="myForm"  >
            <div fxLayoutAlign="end">
          <form  class="form-container ">
         
        <iframe id="myiFrame"
        allow="microphone;"  
        width="300"
        height="450"
        src="https://console.dialogflow.com/api-client/demo/embedded/f2a775a1-f033-46a6-83fb-952c646967c6" style="border:2px solid #7e7b7b ;" >
        </iframe>
        
        </form>
        </div>
        </div>
  
  
  
   
     </mat-card>
       
   
         
   
   
   
   
   
   
   
   
   
   
   
   
     
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
  
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
  
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
       
       
       
       
       
       
       
       
       
       
         
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
      
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
      
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
    
