


<app-layout>
    
<app-header (sidenavToggle)="sidenav.toggle()">
  
</app-header> 
<!-- for header on top -->


<!-- <div [class]="'theme-wrapper ' + (theme$ | async)"> -->
  <mat-sidenav-container>
    
    <mat-sidenav #sidenav role="navigation">
    
        
      <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
    
     
    </mat-sidenav>
    
  <mat-sidenav-content>
      <!-- <button class="open-button" onclick="openForm()">Chat</button> -->
      <!-- <app-header (sidenavToggle)="sidenav.toggle()">
  
      </app-header> -->
        
      <!-- <div class="chat-popup" id="myForm">
        <form action="/action_page.php" class="form-container">
          <h1>Chat</h1>
      
          <label for="msg"><b>Message</b></label>
          <textarea placeholder="Type message.." name="msg" required></textarea>
      
          <button type="submit" class="btn">Send</button>
          <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
      </div> -->
     
      
  <main>
    <router-outlet>

    

    </router-outlet>

   
  </main>
  <app-footer></app-footer>
  
 
 
</mat-sidenav-content>

</mat-sidenav-container>


</app-layout>
