






<div  fxLayout="row" fxLayout.xs="column" class="header show-on-scroll" >      
    <mat-card  *ngIf="interfacesBrief" fxFlex="30">   
        
        
        <img class="image" [src]="interfacesBrief.pic">
  
        <!-- Name: <input type="text" [(ngModel)]="selectedItem.field"/><br><br> -->
      
    </mat-card>
    <mat-card  class="card-item" fxFlex="70">
            <div style="margin-top: 100px" fxLayout="column" fxLayoutAlign="center center">
                <h1>{{interfacesBrief.name}}</h1>
                <p>Black Forrest Cake smothered with old-fashioned whipped cream and topped off with juicy cherries.</p>

            <div fxLayout="" fxLayoutGap="10px">
                    <img class="logo" src="../../assets/images/uber.jpg">
                    <img class="logo" src="../../assets/images/swi.jpg">
                    <img class="logo" src="../../assets/images/Zomato.png">
                    <img class="logo" src="../../assets/images/foodpanda.jpg">
                    <img class="logo" src="../../assets/images/Dunzo.png">


            </div>
            <br>
            <br>
            <div fxLayout="row"  >
                <h2>Our Delivary Partners</h2>

            </div>




            </div>


    </mat-card>


</div>
