<mat-card>

  <div class="container1 w3-container" style="padding: 0px">
      <img class="head" src="../../assets/preva1.jpg" >

      <div class="centered" rtl><a class="w3-center w3-animate-top">Preva Is Hiring</a></div>
      
    </div>

 
    <mat-tab-group   mat-stretch-tabs mat-align-tabs="center" animationDuration="2000ms">
     <mat-tab label="Embedded Electronics Engineers">
         <div class="mod" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center">
 
 

        <mat-card style="padding: 10px;" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center stretch">
          <h3>Embedded Electronics Engineers</h3> 
  
         <p>Positions Vacant: 3</p>
          <p>Experience:3+ years in embedded electronics field .</p>
          
          <p> Requirements:</p>
          
          <p>A good understanding of digital and small signal analog electronics.</p>
          
          <p>Ability to read and understand schematics.</p>
          
          <p>Ability to effectively use a VOlt/ohm meter and Oscilloscope.</p>
          
          <p>Competency in atleast one assembly language.</p>
          
          <p>Competency in "C" programming language.</p>
          
          <p>A good understanding of micro processor internals.</p>
          
          <p>A very good understanding of boolean math.</p>
          <button mat-raised-button color="primary">Apply Now</button>



        </mat-card>

 
         </div>
     </mat-tab>
     <mat-tab label="IOT Software Engineers">
       
       
      <div class="mod" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center">
      <mat-card style="padding: 10px;" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center stretch">



      <h2 fxLayoutAlign="top-right">IOT Software Engineers</h2> 
  
     <p>Positions Vacant: 2</p>
      <p>Experience:5+ years of software development.</p>
      
      <p> Requirements:</p>
      
      <p>Computer programming and coding(JAVA,PYTHON,C#,.NET,RUBY).</p>
      
      <p>Software development.</p>
      
      <p>Object-oriented design (OOD).</p>
      
      <p>Software testing and debugging.</p>
      
      <p>Problem solving and logical thinking.</p>
      
      <p>Written and verbal communication.</p>
      
      <p>Team Work.</p>     
      <button mat-raised-button color="primary">Apply Now</button>    
      </mat-card>
      
 
         </div>
     
     
     </mat-tab>
     <mat-tab label="Sales Engineers">
       
       
      <div class="mod" fxLayout="column" fxLayout.xs="column" fxLayoutAlign=" center center">
        <mat-card style="padding: 10px;" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center stretch">



        <h2 fxLayoutAlign="top-right">Sales Engineers</h2> 
  
        <p>Positions Vacant:2 </p>
         <p>Experience:5+ years of relevant sales and marketing experience.</p>
         
         <p> Requirements:</p>
         
         <p>Working closely with the sales team on proposals and pitches for business.</p>
         
         <p>Attending meetings with business development managers.</p>
         
         <p>Putting together business cases for the sales teams to support their proposals.</p>
         
         <p>Working closely and collaboratively with customers to devise effective solutions.</p>
         
         <p>Ensuring that the company’s product can deliver on the customer’s requirements.</p>
         
         <p>Working closely with customers to understand and capture requirements.</p>
         
         <p>Replying to customers following requests for information and proposal requests.</p>
     
         <p>Presenting proposals to customers alongside members of the sales team.</p>
     
         <p>Providing ongoing support for customers post implementation.</p>
         
         <p>Producing detailed costings for customers and ensuring the contract is profitable.</p>
         <button mat-raised-button color="primary">Apply Now</button>
        </mat-card>


      </div>
  
  
  </mat-tab>
     
  
   </mat-tab-group>



























   <div fxLayoutAlign="end"   >
      <button mdc-fab  class="open-button" onclick="openForm('myForm');"  >
          <mdc-icon>insert_comment</mdc-icon>
      </button>
      
      
      </div>

      <div  class="chat-popup" id="myForm"  >
          <div fxLayoutAlign="end">
        <form  class="form-container ">
       
      <iframe id="myiFrame"
      allow="microphone;"  
      width="300"
      height="450"
      src="https://console.dialogflow.com/api-client/demo/embedded/f2a775a1-f033-46a6-83fb-952c646967c6" style="border:2px solid #7e7b7b ;" >
      </iframe>
      
      </form>
      </div>
      </div>



 
   </mat-card>
     
 
       
 
 
 
 
   <!-- <mat-card> -->
    <!-- <div class="gallery" fxLayoutAlign="center center">
   <a>Our Gallery</a>
    </div> -->
    <!-- <div class="container1 w3-container" style="padding: 0px">
        <img class="head"  > -->
        <!-- <div class="bottom-left">Bottom Left</div> -->
        <!-- <div class="top-left">Top Left</div> -->
        <!-- <div class="top-right">Top Right</div> -->
        <!-- <div class="bottom-right">Bottom Right</div> -->
        
        
      <!-- </div> -->
      
      <!-- <div class="img" >
        
        <h2 fxLayoutAlign="top-right">Embedded Electronics Engineers</h2> 
  
         <p>Positions Vacant: 3</p>
          <p>Experience:3+ years in embedded electronics field .</p>
          
          <p> Requirements:</p>
          
          <p>A good understanding of digital and small signal analog electronics.</p>
          
          <p>Ability to read and understand schematics.</p>
          
          <p>Ability to effectively use a VOlt/ohm meter and Oscilloscope.</p>
          
          <p>Competency in atleast one assembly language.</p>
          
          <p>Competency in "C" programming language.</p>
          
          <p>A good understanding of micro processor internals.</p>
          
          <p>A very good understanding of boolean math.</p>
         
      
           
         
  </div>
  
  <div class="img" >
    <h2 fxLayoutAlign="top-right">IOT Software Engineers</h2> 
  
     <p>Positions Vacant: 2/p>
      <p>Experience:5+ years of software development.</p>
      
      <p> Requirements:</p>
      
      <p>Computer programming and coding(JAVA,PYTHON,C#,.NET,RUBY).</p>
      
      <p>Software development.</p>
      
      <p>Object-oriented design (OOD).</p>
      
      <p>Software testing and debugging.</p>
      
      <p>Problem solving and logical thinking.</p>
      
      <p>Written and verbal communication.</p>
      
      <p>Team Work.</p>
     
  </div>
  
  <div class="img" >
    <h2 fxLayoutAlign="top-right">Sales Engineers</h2> 
  
     <p>Positions Vacant:2 </p>
      <p>Experience:5+ years of relevant sales and marketing experience.</p>
      
      <p> Requirements:</p>
      
      <p>Working closely with the sales team on proposals and pitches for business.</p>
      
      <p>Attending meetings with business development managers.</p>
      
      <p>Putting together business cases for the sales teams to support their proposals.</p>
      
      <p>Working closely and collaboratively with customers to devise effective solutions.</p>
      
      <p>Ensuring that the company’s product can deliver on the customer’s requirements.</p>
      
      <p>Working closely with customers to understand and capture requirements.</p>
      
      <p>Replying to customers following requests for information and proposal requests.</p>
  
      <p>Presenting proposals to customers alongside members of the sales team.</p>
  
      <p>Providing ongoing support for customers post implementation.</p>
      
      <p>Producing detailed costings for customers and ensuring the contract is profitable.</p>
  </div>
  
   
      <mat-tab-group   mat-stretch-tabs mat-align-tabs="center" animationDuration="2000ms">
  
       
       
    
     </mat-tab-group>
  
  
     <div fxLayoutAlign="end"   >
        <button mdc-fab  class="open-button" onclick="openForm('myForm');"  >
            <mdc-icon>insert_comment</mdc-icon>
        </button>
        
        
        </div>
  
        <div  class="chat-popup" id="myForm"  >
            <div fxLayoutAlign="end">
          <form  class="form-container ">
         
        <iframe id="myiFrame"
        allow="microphone;"  
        width="300"
        height="450"
        src="https://console.dialogflow.com/api-client/demo/embedded/f2a775a1-f033-46a6-83fb-952c646967c6" style="border:2px solid #7e7b7b ;" >
        </iframe>
        
        </form>
        </div>
        </div>
  
  
  
   
     </mat-card>
       
   
 
 
 
 
 
  -->
 
   
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 