<mat-card>
    <!-- <div class="gallery" fxLayoutAlign="center center">
   <a>Our Gallery</a>
    </div> -->
    <div class="container1 w3-container" style="padding: 0px">
        <img class="head" src="../../assets/assetm.jpg" >

        <div class="centered" rtl><a class="w3-center w3-animate-top" >Asset Management</a></div>
        
      </div>

      <!-- <mat-tab-group   mat-stretch-tabs mat-align-tabs="center" animationDuration="2000ms">
       
       
    
     </mat-tab-group> -->

<br>
<br>


     <div class="w3-container header show-on-scroll" style="width: 100%; " fxLayout="row" fxLayout.xs="column"   fxLayoutGap="5%" fxLayoutAlign="center stretch"> 
 
     <div class="about-story" fxFlex="35" fxLayoutGap="10%" fxLayout="column" >
                                   
      <mat-card class="card-item ">
       <mat-card-title>
           <img  src="../../../assets/assetone.png" >    

       </mat-card-title>
        
     </mat-card>
   </div>
  </div>


  <br>
  <br>
  <br>
  <br>



  <div class="w3-container " style="width: 150%; height:100%" fxLayout="row" fxLayout.xs="column"  fxLayoutAlign="start" fxLayoutGap="5%"> 

  <div class="about-story" fxFlex="40" fxLayoutGap="10%" fxLayoutAlign="centered" fxLayout="column"  >

    <div class="card-item"  >
     <mat-card>
        <div class="img" >
            <h2 >Fine Dining</h2>
             <p>Steak House is free HTML website template for everyone. Please inform your friends about Tooplate site.</p>
             <p>Vestibulum id iaculis nisl. Pellentesque nec tortor sagittis, scelerisque ante at, sollicitudin leo. Vivamus pulvinar a justo vel lobortis.</p>
             
          
                Donec fringilla ipsum
                Integer nec urna
                Curabitur porta
             
      </div>
          <h3>Nunc ullamcorper suscipit neque, ac malesuada purus molestie non.</h3>
  
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt. Lorem ipsum dolor sit amet.</p>
        
        </mat-card>


         </div>      
      
    
    </div>   
      
      
    
</div>   
 





  
  
     <div fxLayoutAlign="end"   >
        <button mdc-fab  class="open-button" onclick="openForm('myForm');"  >
            <mdc-icon>insert_comment</mdc-icon>
        </button>
        
        
        </div>
  
        <div  class="chat-popup" id="myForm"  >
            <div fxLayoutAlign="end">
          <form  class="form-container ">
         
        <iframe id="myiFrame"
        allow="microphone;"  
        width="300"
        height="450"
        src="https://console.dialogflow.com/api-client/demo/embedded/f2a775a1-f033-46a6-83fb-952c646967c6" style="border:2px solid #7e7b7b ;" >
        </iframe>
        
        </form>
        </div>
        </div>
  
  
  
   
     </mat-card>
       
   
         
   
   
   
   
   
   
   
   
   
   
   
   
     
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
  
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
  
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   