/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* @import '~@angular/material/theming'; */


/* for sidenav to take a whole page */
html, body { 
    margin: 0;
    height: 100%;
}


@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

// @import "@material/fab/mdc-fab";
@import "styles-variables";

@import "~@angular-mdc/theme/material";






.app-loading {
    .logo {
      width: 100px;
      height: 100px;
      border-radius: 100px 100px 100px 100px;
      background: url(./assets/iot.png) center center no-repeat;
      background-size: cover;
    }
  }