
mat-card{
  padding: 0px;


  .head{
    
    height: 575px;
      padding: 0%;
      background-color: red;
      width: 100%;
}    
}


// img{
//   height: 800px;
//   padding: 0px;
// }

.container1 {
  position: relative;
  text-align: center;
  color: black;
  // height: 100px;

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
   
  }
}




/* Container holding the image and the text */
.container {
  // position: relative;
  // text-align: center;
  color: white;
  padding: 0%;
  width: 100%;

  img{
    width: 100%;
  }
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}














.margin-auto {
    margin: 0px auto;
}

demo-div {
    padding: 10px 0px 10px 10px;
    box-sizing: border-box;
    border: 0px solid;
    border-color: #CFCFCF;
    margin-bottom: 20px;
    padding: 0%;
}

.box-shadow {
    box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
}









mat-card{
  padding: 0px;


  .head{
    
    height: 575px;
      padding: 0%;
      background-color: red;
      width: 100%;
}    
}


// img{
//   height: 800px;
//   padding: 0px;
// }

.container1 {
  position: relative;
  text-align: center;
  color: black;
  // height: 100px;

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
   
  }
}




/* Container holding the image and the text */
.container {
  // position: relative;
  // text-align: center;
  color: white;
  padding: 0%;
  width: 100%;

  img{
    width: 100%;
  }
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}














.margin-auto {
    margin: 0px auto;
}

demo-div {
    padding: 10px 0px 10px 10px;
    box-sizing: border-box;
    border: 0px solid;
    border-color: #CFCFCF;
    margin-bottom: 20px;
    padding: 0%;
}

.box-shadow {
    box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
}



// #video {
//   background: url('/assets/aaa.jpg') 50% 0 repeat-y fixed;
//   -webkit-background-size: cover;
//   background-size: cover;
//   background-position: center center;
//   position: relative;
//   color: #999;
//   width: 100%;
//   padding-top: 120px;
//   padding-bottom: 116px;
 
// }

// #video .overlay {
//   background: rgba(03,03,03,0.6);
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   top: 0;
// }

// #video h2 {
//   color: #ffffff;
//   padding-top: 20px;
//   padding-bottom: 16px;
// }

// #video .fa {
//   position: relative;
//   border: 2px solid #ffffff;
//   border-radius: 100px;
//   color: #ffffff;
//   font-size: 28px;
//   width: 80px;
//   height: 80px;
//   line-height: 80px;
//   text-align: center;
//   vertical-align: middle;
//   margin-top: 22px;
  
// }
.display-3{
  font-family: 'Dancing Script', cursive;

}

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('../../assets/coverr.jpg') black no-repeat center center scroll;

  }
  header video {
    display: none;
  }
}


p{
  color: black;
}


#feature{
  color: #656565;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background: rgb(240,240,240);
  font-family: 'Dancing Script', cursive;
  scroll-behavior: smooth;
}
 
/* Feature section */
#feature .feature-thumb {
  background-color: #ffffff;
  position: relative;
  padding: 40px;
  margin-top: 32px;
  height: 300px;
}
#feature .feature-icon {
  background-color: #222;
  width: 85px;
  height: 85px;
  margin: 0 auto;
  top: 0;
  margin-top: -70px;
  margin-bottom: 30px;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  display: table;
  text-align: center;
  transition: all 0.4s ease-in-out;
}
#feature .feature-icon:hover {
  background-color: #c21500;
}
#feature .feature-icon span {
  display: table-cell;
  vertical-align: middle;
}
#feature .feature-icon .fa {
  color: #ffffff;
  font-size: 36px;
  margin: 0;
  padding: 0;
}

#feature h3 {
  padding-top: 14px;
  padding-bottom: 10px;
}



.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
#animate1 {
  transition: transform 0.3s ease-out;
}
.zap {
  transform: scale(2.5, 0);
}


.card-item{
  flex: 1;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -ms-box-flex: 1;
  -moz-box-flex: 1;
  padding: 3px 3px 3px 3px;
  width: 100%;
  height: 100%;
  font-family: 'Dancing Script', cursive;
  
 
 
  img{
    height:100%;
    width: 100%;
  }
}



// .card-item-one{
//   flex: 1;
//   box-sizing: border-box;
//   -webkit-box-flex: 1;
//   -ms-box-flex: 1;
//   -moz-box-flex: 1;
//   padding: 3px 3px 3px 3px;
//   width: 500px;
//   height: 600px;
//   font-family: 'Dancing Script', cursive;

//   .itemone{
   
//     width: 500px;
//     height: 600px;
//   }
 
// }



.inline-photo {
  border: 1em solid #fff;
  border-bottom: 4em solid #fff;
  border-radius: .25em;
  box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
  margin: 2em auto;
  transform: translateY(4em) rotateZ(-5deg);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              opacity .3s .25s ease-out;
  
  max-width: 500px;
  width: 100%;
  will-change: transform;
}
.inline-photo.is-visible {
  opacity: 1;
  transform: rotateZ(-2deg);
}

.header {
  opacity: 0;
  transition: opacity .5s .25s ease-out;
}
.header.is-visible {
  opacity: 1;
}


.open-button {
padding: 16px 20px;
border: none;
cursor: pointer;
// opacity: 0.8;
position: fixed;
bottom: 23px;

}








.chat-popup {
  display: none;
  outline: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  // border: 3px solid #7e7b7b;
  border:none;
  z-index: 9;
  flex-shrink: inherit;
  overflow: auto;
  // resize: both;
  height: 550px;
  width: 400px;
  // overflow:auto;
  // transform:rotate(180deg);
  direction:ltr;
  // padding-right:53px;
//  background-color: yellow;
 margin-right:53px;

}






/* Add styles to the form container */
.form-container {
  // max-width: 400px;
  // padding: 10px;
  background-color: transparent;
   height: 490px;
   width: 300px;
 
}










































































  //   .img {
//     // width: 100%;
//     margin-bottom: 18%;
//     height: 100px;
// //   }
//   .card-picture {
//     width: 70;
//     margin-bottom: 2%;
//     // height: 30px;
    
//   }
// //   .container {
// //     // min-height: 100%;
// //     width: 100%;
// //   }
// //   .search-form {
// //     width: 90%;
// //   }

//   .card-picture1 {
//     width: 30;
//     margin-bottom: 2%;
    
//   }

// .container
// {
// // background-size: cover;
// }
// .item-1{
//     background-color: red;
//     // width: 100%;

// }
// .item-2{
//     background-color: yellowgreen;
//     // width: 100%;

// }































































  //   .img {
//     // width: 100%;
//     margin-bottom: 18%;
//     height: 100px;
// //   }
//   .card-picture {
//     width: 70;
//     margin-bottom: 2%;
//     // height: 30px;
    
//   }
// //   .container {
// //     // min-height: 100%;
// //     width: 100%;
// //   }
// //   .search-form {
// //     width: 90%;
// //   }

//   .card-picture1 {
//     width: 30;
//     margin-bottom: 2%;
    
//   }

// .container
// {
// // background-size: cover;
// }
// .item-1{
//     background-color: red;
//     // width: 100%;

// }
// .item-2{
//     background-color: yellowgreen;
//     // width: 100%;

// }

