

<script type="application/json">
         
</script>



<script type="text/javascript">
  $(function(){
      $('#button').click(function(){ 
          if(!$('#iFramee').length) {
                  $('#iframeHolder').html('<iframe id="iFramee" src="https://console.dialogflow.com/api-client/demo/embedded/f2a775a1-f033-46a6-83fb-952c646967c6" allow="microphone;" width="350" height="430"></iframe>');
          }
      });   
  });
  </script>




<mat-card>
  


      <header>
       
                  <div class="overlay"></div>
                  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                    <source src="../../assets/blue.mov" type="video/mp4">
                     
                  </video>
                  <div class="container h-100 ">
                    <div class="d-flex h-100 text-center align-items-center">
                      <div class="w-100 text-white animate fadeInUp  ">
                              

                        <h2 class="display-3 fade-in" >Welcome To IOT</h2>
                        <p class="fade-in" style="color: white; font-family: 'Dancing Script', cursive; font-size: 25px;">We are poised to be a strong technology player in global IOT Arena.</p>
                        
                      </div>
                    </div>
                  </div>
                </header>
                
               
      

               
          <br>
          <br>
          <br>
          <br>
        <br>  
        <br>
        <br>
        <br>  
        <br>

        

      <br>
      <br>  
    


          


      <br>
      <br>  
      <br>
      <br>  
      <br>









     






      <br>
      <br>


      
      






<!-- <div  class="chat-popup" id="myForm"  >
    <div fxLayoutAlign="end">
  <form  class="form-container ">
 
<iframe id="myiFrame"
allow="microphone;"  
width="300"
height="450"
src="https://console.dialogflow.com/api-client/demo/embedded/f2a775a1-f033-46a6-83fb-952c646967c6" style="border:2px solid #7e7b7b ;" >
</iframe>

</form>
</div>
</div> -->

</mat-card>




<script>




</script>



